article(ng-controller = 'allUsersTimeCtrl as date')
	table.table
		thead
			tr
				td User name
				td date
				td start time
				td end time
		tbody
			tr(ng-repeat = 'day in date.allUsers')
				td {{day.userID.fName}} {{day.userID.lName}} 
				td {{day.date |  date: "dd/MM/yyyy"}}
				td {{day.tStart | date: "HH:mm:ss"}}
				td {{day.tEnd | date: "HH:mm:ss"}}
				td
					span(dropdown='', on-toggle='date.toggled(open)')
						a#simple-dropdown(href='', dropdown-toggle='')
							| Options
						ul.dropdown-menu(aria-labelledby='simple-dropdown')
							li(ng-repeat='choice in date.items')
								a(href='' ng-click="date.open(day)") {{choice.title}}

