article
	.col-sx-4.col-sx-offset-4
		.jumbotron.col-sm-6.col-sm-offset-3
			h1 {{user.user.fName}} {{user.user.lName}}
			hr
			p Sex: 
				br
				strong {{user.user.sex}}
			p Date Added: 
				br
				strong {{user.user.date | date: "dd/MM/yyyy"}}
			p Phone Number: 
				br
				strong.bfh-phon(data-format="+38 (ddd) ddd-dddd"){{user.user.tel}}
			.row
				a.btn.btn-primary.btn-sm.btn-sx-offset-2(href='', role='button' ng-click = 'user.open(user.user,"modalEditUser.html", "modalEditUserCtrl")') edit User
				a.btn.btn-danger.btn-sm(href='', role='button' ng-click = 'user.open(user.user,"modalDeleteUser.html", "modalDeleteUserCtrl")') delete User
				a.btn.btn-primary.btn-sm.col-sm-offset-6(href='/#/', role='button') Back
